td {
    border: black 2px solid;
}

#realMapSection {
    justify-content: center;
    text-justify: auto;
}

#realMapHeader {
    border: orange solid;
    text-align: center;
    margin-top: 50px;
}

#realRoadview {
    /*width:100%;*/
    max-width: 1024px;
    height: 80vh;
    border: red solid;
    border-radius: 10px;
    margin: auto;
}
