<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, tr, td{
        border: black 2px solid;
        border-collapse: collapse;
    }
</style>
<body>
<h1>관리자 페이지 - 테이블 보는 곳</h1>
<table id="tableis">
    <thead class="table-success">
    <tr>
        <th>번호</th>
        <th>닉네임</th>
        <th>제목</th>
        <th>답변여부</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${list}">
        <td><span th:text="${post.id}"></span></td>
        <td><span><a th:href="@{'/board/detail/' + ${post.id}}" th:text="${post.subject}"></a></span> </td>
        <td><span th:text="${post.user.username}"></span></td>
        <td><span th:text="${post.viewCnt}"></span></td>
    </tr>

    </tbody>
</table>
</body>
</html>