<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, tr, td{
        border: black 2px solid;
        border-collapse: collapse;
    }
</style>
<body>
<h1>관리자 페이지 - 테이블 보는 곳</h1>
<table id="tableis">
    <thead class="table-success">
    <tr>
        <td>번호</td>
        <td>닉네임</td>
        <td>문의사항</td>
        <td>답변여부</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="complain : ${complainlist}">
        <td><span th:text="${complain.complainId}"></span></td>
        <td><span th:text="${post.user.username}"></span></td>
        <td><span><a th:href="@{'/admin/complain/' + ${complain.complainId}}" th:text="${complain.content}"></a></span> </td>
        <td><span th:text="${complain.isAnswered}"></span></td>
    </tr>

    </tbody>
</table>
</body>
</html>