<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script th:unless="${post}">
    alert("해당 정보가 삭제되거나 없습니다")
    history.back();
</script>

<th:block th:if="${post}" th:with="logged_user=${#authentication.principal.user}"> <!--댓글 쓸 때 필요함.-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/board/css/detail.css}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>


        <script th:inline="javascript">
            // 나중에 댓글 작성시 필요.
            const logged_id = [[${logged_user.userId}]];
        </script>


        <title>조회</title>
    </head>

    <body>
    <div class="container mt-3">
        <h2>조회</h2>
        <hr>
        <div class="mb-3 mt-3 clearfix">
            <span class="float-start me-2"></span>
            <span class="float-end ms-4">작성일 : [[${#temporals.format(post.postRegdate, 'yyyy-MM-dd HH:mm:ss')}]]</span>
            <span class="float-end">조회수 : [[${post.viewcnt}]]</span>
        </div>

        <section>
            <form name="frmDelete" th:action="@{/board/delete}" method="post">  <!-- 안녕 -->
                <input type="hidden" name="postId" th:value="${post.postId}">
            </form>

            <div class="my-3 border p-2 rounded" style="width: 19%">
                <label>Writer : </label>
                <span class="" th:text="${post.user.nickname}"></span>
                <label>&nbsp;&nbsp;&nbsp;MBTI : </label>
                <span class="" th:text="${post.user.mbti}"></span>
            </div>

            <div class="mb-3 mt-3">
                <label>Title : </label>
                <span class="form-control bg-light" th:text="${post.title}"></span>
            </div>
            <div class="mb-3 mt-3">
                <label>Content : </label>
                <div class="border rounded p-2" th:utext="${post.content}"></div>
            </div>

            <!-- 첨부파일목록 -->
            <div class="container mt-3 mb-3 border rounded">
                <div class="mb-3 mt-3">
                    <label>첨부 파일:</label>
                    <ul class="list-group mb-1">
                        <li class="list-group-item" th:each="attachment : ${post.fileList}">
                            <a th:href="@{/board/download(id=${attachment.id})}" th:text="${attachment.sourcename}"></a>
                        </li>
                    </ul>
                    <!--/* 이미지인 경우 보여주기 */-->
                    <div th:each="attachment : ${post.fileList}" th:if="${attachment.image}">
                        <img th:src="@{'/upload/' + ${attachment.filename}}" class="img-thumbnail" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            <!-- 첨부파일목록 -->

            <!-- 하단 링크 -->
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-outline-dark btn-pink" th:href="@{'/board/update/' + ${post.postId}}"
                   th:if="${logged_user.userId == post.user.userId}">수정</a>
                <a class="btn btn-outline-dark btn-pink" th:href="@{/board/list}">목록</a>

                <button type="button" class="btn btn-outline-danger ms-2" id="btnDel"
                        th:if="${logged_user.userId == post.user.userId}">
                    삭제
                </button>

                <a class="btn btn-outline-dark btn-pink" th:href="@{/board/write}">작성</a>
            </div>

            <!-- 댓글 -->
            <th:block th:insert="~{board/comment::comment}"></th:block>
            <!-- 댓글 -->

        </section>
    </div>
    <script th:src="@{/board/js/detail.js}"></script>
    </body>

</th:block>
</html>
