<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/board/js/list.js}"></script>

    <!--  여기부터 철희가 추가 12/18  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/common.css}">

    <title>목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/board/css/list.css}">
</head>
<body>
<!--  헤더 블럭 by 철희 12/19 -->
<th:block th:insert="~{common/header::header}"></th:block>

<div class="container mt-3">
    <div class="title-layout">
        <div>
            <h2 class="title" style="color: black;">PlayGround</h2>
        </div>

        <div>

        </div>
    </div>
</div>
<div>
    <!-- 페이징 헤더 -->
    <div class="mb-3 mt-3 clearfix">
        <span class="float-start me-2">총 [[${cnt}]]개</span>
        <span class="float-start">page [[${page}]]/[[${totalPage}]]</span>
        <span class="float-end">
                <form name="frmPageRows">
                    <input type="hidden" name="page" th:value="${page}">
                    <select class="form-select" name="pageRows">
                        <option value="10" th:selected="${pageRows==10}">10</option>
                        <option value="15" th:selected="${pageRows==15}">15</option>
                        <option value="20" th:selected="${pageRows==20}">20</option>
                        <option value="50" th:selected="${pageRows==50}">50</option>
                    </select>
                </form>
            </span>
    </div>
    <!-- 페이징 헤더 -->
</div>
<!-- 목록 -->
<table class="table table-hover">
    <thead class="table">
    <tr>
        <th>No</th>
        <th>Writer</th>
        <th>MBTI</th>
        <th>title</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${list}">
        <td><span th:text="${post.postId}"></span></td>
        <td><span th:text="${post.user.nickname}"></span></td>
        <td><span th:text="${post.user.mbti}"></span></td>
        <td><span><a th:href="@{'/board/detail/' + ${post.postId}}" th:text="${post.title}"></a></span></td>
        <td><span th:text="${#temporals.format(post.postRegdate, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
    </tr>

    </tbody>
</table>
<!-- 목록 -->

<div class="row">
    <div class="col-12">
        <a class="btn btn-outline-dark btn-pink" th:href="@{/board/write}">작성</a>    <!--write 요청-->
    </div>
</div>
</div>
<!-- pagination -->
<th:block th:insert="~{board/pagination::pagination}"></th:block>
<!-- pagination -->

<!--  푸터 블럭 by 철희 12/19  -->
<th:block th:insert="~{common/footer::footer}"></th:block>

</body>

<!-- 여기부터 철희가 추가 12/19 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
        integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY="
        crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script th:src="@{/common/js/common.js}"></script>
<script th:src="@{/board/js/list.js}"></script>

</html>
