<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <nav class="navbar navbar-expand-lg sticky-top" aria-label="Offcanvas navbar large"
         data-bs-theme="dark">

        <!-- navbar 안에 container -->
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home/main}">
                <img th:src="@{/common/image/seoul/Seoul_illust.jpg}" alt="Logo"
                     class="rounded-pill"
                     id="headerLogo">
            </a>
            <h1>in 서울</h1>

            <!-- 태블릿 이하에서 생기는 오프캔버스 토글 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                    aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- 태블릿 이하의 offcanvas -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2"
                 aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">회원정보</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a id="tabService" class="nav-link" th:href="@{/aboutus/aboutus}">서비스 소개</a>
                        </li>
                        <li class="nav-item">
                            <a id="tabTour" class="nav-link" th:href="@{/tour/tourList}">관광</a>
                        </li>
                        <li class="nav-item">
                            <a id="tabRealEstate" class="nav-link" th:href="@{/realEstate/infoList}">부동산</a>
                        </li>
                        <li class="nav-item">
                            <a id="tabBoard" class="nav-link" th:href="@{/board/list}">MBTI게시판</a>
                        </li>
                        <!-- 권한이 관리자인 경우에 보여주는 관리자페이지 탭 -->
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a id="tabAdminAnswer" class="nav-link" th:href="@{/admin/adminanswer}">관리자답변</a>
                        </li>
                    </ul>

                    <!-- 로그인 하지 않았을때 보이는 것들 -->
                    <ul class="navbar-nav" sec:authorize="isAnonymous()">
                        <!--로그인 아이콘-->
                        <li class="nav-item userIcons">
                            <a id="loginIcon" class="userIcon" type="submit" th:href="@{/user/login2}">
                                <i class="fa-solid fa-right-to-bracket"></i></a>
                        </li>
                    </ul>

                    <!-- 로그인 했을때 보이는 것들 -->
                    <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                        <!--회원에게만 보이는 멤버 아이콘-->
                        <li class="nav-item userIcons" sec:authorize="hasRole('ROLE_MEMBER')">
                            <a id="memberIcon" class="userIcon" type="submit"
                               th:href="@{/user/mypage}"><i class="fa-solid fa-user"></i></a>
                        </li>
                        <!--관리자에게만 보이는 관리자 아이콘-->
                        <li class="nav-item userIcons" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a id="adminIcon" class="userIcon" type="submit"
                               th:href="@{/user/mypage}"><i class="fa-solid fa-user-secret"></i></a>
                        </li>
                        <!--로그아웃 아이콘-->
                        <li class="nav-item userIcons">
                            <a id="logoutIcon" class="userIcon" type="submit"
                               th:href="@{/user/logout}"><i class="fa-solid fa-right-from-bracket"></i></a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </nav>
</th:block>
</html>
