<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="header">
    <nav class="navbar navbar-expand-lg sticky-top" aria-label="Offcanvas navbar large"
         data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="main">
                <img th:src="@{/common/image/seoul/Seoul_illust.jpg}" alt="Logo" style="width:80px;"
                     class="rounded-pill ">
                in 서울
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                    aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- offcanvas -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2"
                 aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label"></i> 로그인 정보</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">서비스 소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">관광</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">부동산</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">MBTI게시판</a>
                        </li>
                    </ul>
                    <a class="btn btn-primary" sec:authorize="isAnonymous()" type="submit" th:href="@{/user/login2}">Login</a>

                    <!-- 로그인 했을때는 username 과 로그아웃 form 보여주기 -->
                    <form th:action="@{/user/logout}" method="POST" sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}">
                        <!--TODO : 로그아웃후 다시 돌아오기 -->
                        <span class="d-flex">
                        <span class="text-light p-2"><span TODO="">[[${user.username}]]([[${user.name}]])</span> 님 환영합니다</span>
            <span><button class="btn btn-danger" type="submit">Logout</button></span>
          </span>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</th:block>
</html>
