<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="mainCardTab">
    <div id="cardTab" class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="clickTourTab" class="nav-link active">관광</a>
            </li>
            <li class="nav-item me-auto">
                <a id="clickRealTab" class="nav-link">부동산</a>
            </li>
            <li class="nav-item">
                <a id="clickReadMore" class="nav-link">read more +</a>
            </li>
        </ul>
    </div>
</th:block>
</html>
