<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="mainCard">
    <div id="cardPart1" class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-4 mx-4 mb-5">
        <div th:each="item : ${randomTourCard}" class="col">
            <div class="card">
                <img th:src="${item.tourImage1 != null && item.tourImage1 != '' ? item.tourImage1 : '/tour/image/img_none_01.png'}"
                     class="img-fluid" id="tourImage1" alt="card1image">
                <div class="card-body">
                    <h3 class="card-subtitle mb-2" th:text="${item.tourName}"></h3>
                    <p class="card-text" th:text="${item.tourAddr1 + ' ' + item.tourAddr2}"></p>
                    <a class="btn" th:href="@{'/tour/tourDetail/' + ${item.tourId}}">상세정보 보러가기</a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
