<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="mainCardTab">
    <div id="cardTab" class="container-fluid">
        <ul class="nav nav-tabs mx-lg-4 mt-lg-5 mt-md-2 mb-lg-2 mb-md-1">
            <li class="nav-item">
                <a class="nav-link active">관광</a>
            </li>
            <li class="nav-item me-auto">
                <a class="nav-link">부동산</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">read more +</a>
            </li>
        </ul>
    </div>
</th:block>
</html>
