<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Detail/Review</title>
   <link rel="stylesheet" type="text/css" th:href="@{/food/css/food.css}">
    <link rel="stylesheet" href="/src/main/resources/static/food/css/food.css">
    <script src="https://kit.fontawesome.com/821e8d3801.js" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <h2>관광상세페이지</h2>
        <div id="">관광상세페이지</div>
    </div>

    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="close-area">X</div>
            <div class="title">
                <div class="store_name"> <span th:text="${foodrow?.storeName}"></span></div>
                <div class="store_address"> <span th:text="${foodrow?.storeAddress}"></span></div>
                <div class="store_tel"> <span th:text="${foodrow?.storeTel}"></span></div>
            </div>
            <hr>
            <div class="content">
                <div id="foodImage">음식점 이미지</div>
                <div id="reviewShowStar">
                    <span>평점</span> 
                    <span class="reviewShowStar" th:text="${review?.reviewStar}"></span>
                </div>
                <div id="reviewShowCategory">
                    <span>리뷰</span>
                    <span class="reviewShowCategory" th:text="${review?.reviewCategory}">리뷰 키워드</span>
                </div>
                <input type="button" onclick="getShow()" value="리뷰남기기">
                <div id="foodMap">지도</div>
            </div>
        </div>
    </div>
</body>

<!-- <script th:src="@{/food/js/food.js}"></script> -->
<script src="/src/main/resources/static/food/js/food.js"></script>
<!-- <script th:src="@{/food/js/food_image.js}"></script> -->

</html>