<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Detail/Review</title>
    <link rel="stylesheet" href="/src/main/resources/static/food/css/food.css">
    <script src="https://kit.fontawesome.com/821e8d3801.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <h2>관광상세페이지</h2>
        <div id="">관광상세페이지</div>
    </div>

    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="close-area">X</div>
            <div class="title">
                <div class="storeName">음식점 명</div>
                <div class="storeAddr">음식점 주소</div>
                <div class="storeTel">음식점 전화번호</div>
            </div>
            
            <hr>
            <div class="content">
                <div id="foodImage">음식점 이미지</div>
                <div id="reviewStar">평점</div>
                <div id="reviewCategory">리뷰</div>
                <div id="foodMap">지도</div>
            </div>
        </div>
    </div>
</body>
<script src="/src/main/resources/static/food/js/food.js"></script>

</html>