<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--th:with="logged_user=${#authentication.principal.user}"-->
<th:block th:with="logged_user=${#authentication.principal.user}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script th:src="@{/realEstate/JS/infoList.js}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/common.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/mainCarousel.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/mainCardTab.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/mainCard.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/mainCultureSlider.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/mainMbti.css}">

        <title>간단한 웹페이지</title>

    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <body>
    <th:block th:insert="~{common/header::header}"></th:block>

    <div class="container">
        <form th:action="@{/realEstate/infoList}" method="post">
            <select id="selectYear" name="accYear">
            </select>
            <select id="selectSSG" name="ssgName">
                <option selected>자치구를 먼저 선택해주세요</option>
            </select>
            <select id="selectBJDONG" name="dongCode">
                <option>자치구를 먼저 선택해주세요</option>
            </select>
            <select id="selectHouseKind" name="houseKindName">
            </select>
            <button type="submit">검색하기</button>
        </form>
    </div>

    <hr>
    <div class="mb-3 mt-3 clearfix">
        <span class="float-start me-2">총 [[${cnt}]]개</span>
        <span class="float-start">page [[${page}]]/[[${totalPage}]]</span>
    </div>

    <div th:each="row : ${list}" class="divider-container" id="container1">
        <div class="divider">
            <input type="checkbox" th:id="${row.houseId}" th:value="${row.houseId}">
            <a th:href="@{'/realEstate/redetail/' + ${row.houseId}}">
                <span th:text="${row.ssgName}"></span>
                <span th:text="${row.dongName}"></span>
                <span th:text="${row.rentKind}"></span>
                <span th:text="${row.rentDeposit}"></span>
                <span th:text="${row.rentFee}"></span>
                <!--            <span th:text="${row.contractScore}"></span>-->
            </a>
        </div>
    </div>


<!-- Font Awesome Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<!-- pagination -->
<th:block th:insert="~{realEstate/pagination::pagination}"></th:block>
<!-- pagination -->
</body>
    <script th:inline="javascript">
        // 나중에 댓글 작성시 필요.
        const logged_id = [[${logged_user.userId}]];
    </script>
</th:block>
</html>
