<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:unless="${row}">
    alert("해당 정보가 삭제되거나 없습니다")
    history.back();
</script>
<th:block th:if="${row}" th:with="logged_user=${#authentication.getPrincipal().getUser()}">
    <script th:src="@{/realEstate/JS/reDetail.js}"></script>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>조회 - [[${row.houseId}]]</title>
    </head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>조회 - [[${row.houseId}]]</title>

        <!--  철희 추가 12/20  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/common.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/realEstate/CSS/reDetail.css}">

        >>>>>>>>> Temporary merge branch 2
    </head>

    <script th:inline="javascript">
        const logged_id = [[${logged_user.userId}]];
    </script>
    <style>
        td {
            border: black 2px solid;
        }
    </style>
    <body>
    <!--/* 공통 헤더 */-->
    <th:block th:insert="~{common/header::header}"></th:block>

    <div class="container">
        <table class="table table-hover" style="border: black 2px solid; text-align: center">
            <thead>
            </thead>
            <tbody>
            <tr class="table-active">
                <td>건물명</td>
                <td id="building_name">[[${row.buildingName}]]</td>
                <td>계약일</td>
                <td id="contract_date">[[${row.contractDate}]]</td>
            </tr>
            <tr>
                <td>주소</td>
                <td colspan="3" id="address">[[${row.address}]]</td>
            </tr>
            <tr class="table-primary">
                <td>전월세구분</td>
                <td id="rent_kind">[[${row.rentKind}]]</td>
                <td>임대면적</td>
                <td id="rent_area">[[${row.rentArea}]]</td>
            </tr>
            <tr class="table-primary">
                <td>보증금</td>
                <td id="rent_deposit">[[${row.rentDeposit}]]</td>
                <td>월세</td>
                <td id="rent_fee">[[${row.rentFee}]]</td>
            </tr>
            <tr class="table-primary">
                <td>건축년도</td>
                <td id="built_year">[[${row.buildYear}]]</td>
                <td>건물용도</td>
                <td id="house_kindNm">[[${row.houseKindName}]]</td>
            </tr>
            <tr class="table-primary">
                <td>계약기간</td>
                <td id="contract_period">[[${row.contractPeriod}]]</td>
                <td>신규갱신여부</td>
                <td id="new_Ron">[[${row.newRonSecd}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <section>
        <div class="container" style="display: flex">
            <div>
                <canvas id="myChart"></canvas>
            </div>
            <input id="contract_ScorePut" name="contractScore" th:value="${contractScore}">
            <input id="place_ScorePut" name="placeScore" th:value="${placeScore}">
            <input id="houseId" name="houseId" th:value="${row.houseId}" style="display: none">
            <button type="button" id="putScore" class="btn btn-outline-dark">작성완료</button>
        </div>
    </section>

    <!-- 카카오로드뷰 section 추가 - 신철희 12/22 저녁 -->
    <!-- 로드뷰를 표시할 div 입니다 -->
    <section id="roadviewSection">
        <div id="roadviewName">&lt;카카오 지도 로드뷰&gt;</div>
        <div id="realMapWrap">

            <div id="realMap"></div>

            <div id="roadview"></div>

        </div>
    </section>

    <!--  푸터 블럭 by 철희 12/20  -->
    <th:block th:insert="~{common/footer::footer}"></th:block>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </body>
</th:block>

<!-- 여기부터 추가 - 신철희 12/22 저녁 -->
<!--/* kakaomap Javascript API */-->
<!--/* appkey= 여기에 JavaScript 키를 입력하면 된다.(kakao deleopers -> 내 애플리케이션 -> 앱 키 -> JavaScript 키)*/-->
<!--/* 라이브러리 추가, JavaScript 키 뒤에 services,clusterer,drawing 라이브러리를 추가함 */-->
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8c1b1b874a51038bccf3ed41dd217837&libraries=services,clusterer,drawing"></script>


</html>
