body {
    background-color: #f8f9fa;
    color: #495057;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 뷰포트 높이에 맞게 설정 */
}

#container_tourdetail {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
    text-align: center; /* 텍스트 가운데 정렬 */
}

#tourImage1 {
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    /*border: black solid;*/
}

#tourName {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#tourAddress {
    font-size: 3rem;
}

#demoJSON_tour {
    font-size: 2rem;
    margin-top: 20px;
    width: 100%;
}

.recommendedFood {
    max-width: 300px;
}
