body {
    background-color: #f8f9fa;
    color: #495057;
}


#container_tourlist {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    border: red solid;
}

#tourSigungucode,
#tourName {
    width: 200px;
    margin-right: 10px;
    border-radius: 8px;
}

#btn_tour {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#btn_tour:hover {
    background-color: #0056b3;
}

.tour-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background: white;
}

.tour-item:hover {
    transform: scale(1.05);
}
