@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

:root {
    --primary: antiquewhite;
    --white: #ffffff;
    --bg: #f5f5f5;
    --skycoral: #F8496C; /*2024년 서울의 색으로 선정됨.*/
    --realEstateMaxWidth: 1700px; /* 부동산 리스트의 검색결과들 container들 max-width값 */
    --selectWidth: 250px;
    --selectRadius: 10px;
}

body {
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
}

h1 {
    color: white;
    font-size: 5rem;
}

h2 {
    color: white;
    font-size: 4rem;
}

h3 {
    color: white;
    font-size: 3rem;
}

h4 {
    color: white;
    font-size: 2rem;
}

h5 {
    color: white;
    font-size: 1rem;
}

/* 헤더의 탭들 */
.offcanvas-body ul li a.nav-link {
    color: white;
    font-size: 2rem;
    margin-left: 5px;
    border-radius: 20px;
    border: var(--white) solid;
}

.offcanvas-body ul li a.nav-link.active {
    color: var(--skycoral);
    background: white;
}

.offcanvas-body ul li a.nav-link:hover, .userIcon:hover {
    color: var(--skycoral);
    background: white;
}


/* 헤더 & 푸터 배경색 */
.navbar, .offcanvas, footer {
    background-color: var(--skycoral); /* 2024년 서울의 색 '스카이 코랄(#F8496C)' */
}

.navbar {
    height: 10vh;
    padding-top: 0;
}

/* 헤더 안 로고 & 글자 "in 서울" */
.navbar-brand {
    font-size: x-large !important;
    font-weight: bold;
}

/* 헤더 안에 로고 */
#headerLogo {
    /*width: 10% !important;*/
    /*width: 3rem !important;*/
    width: 4vw !important;
    /*border: black solid;*/
}

/* 헤더의 탭들 */
.offcanvas-body .navbar-nav {
    align-items: center;
}

.offcanvas-body .navbar-nav .nav-item {
    font-size: large;
    width: 8rem;
    text-align: center;
}

/* 헤더의 아이콘들 */
.userIcons {
    width: 4rem !important;
}

.userIcon {
    font-size: 2rem;
    color: white;
    height: 2rem;
    border-radius: 10px;
}

#adminIcon {
}

/* 오프캔버스 안에 로그인 버튼 */
.offcanvas-body .btn {
    font-size: large;
    width: 100px;
}

/* 경계에 있는 그림자 효과 */
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* 푸터 */
p.text-center.text-body-secondary {
    margin-bottom: 0 !important;
}

.container-fluid {
}

@media (max-width: 991px) {
    #headerLogo {
        width: 7vw !important;
    }

    .container-fluid h1 {
        font-size: 4rem;
    }

}

@media (max-width: 768px) {
    #headerLogo {
        width: 9vw !important;
    }
}

@media (max-width: 600px) {
    #headerLogo {
        width: 11vw !important;
    }
}
