body {
    font-family: sans-serif;
}

/* 헤더 & 푸터 배경색 */
.navbar, .offcanvas, footer {
    background-color: #F8496C; /* 2024년 서울의 색 '스카이 코랄(#F8496C)' */
}
.navbar {
    height: 10vh;
}

/* 헤더 안 로고 옆 글자 "in 서울" */
.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

/* 헤더의 탭들 */
.offcanvas-body .navbar-nav .nav-item {
    font-size: large;
    width: 140px;
    text-align: center;
}

/* 오프캔버스 안에 로그인 버튼 */
.offcanvas-body .btn {
    font-size: large;
    width: 100px;
}

/* 경계에 있는 그림자 효과 */
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

