.container {
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.section-heading {
    font-size: 4rem;
    color: var(--skycoral);
    padding: 2rem 0;
}

#tranding {
    padding: 4rem 0;
    background-image: url(../image/background/christmas-5740350_1920.png);
    /* 백그라운드 이미지의 경로*/
    background-position-x: center;
    /* 백그라운드 이미지의 위치, 현재 설정은 가로 중앙 */
    /* background-position-y: 10vh; */
    background-size: 100%;
    /* 비율을 유지한 상태로 꽉 채운다. */
    background-repeat: no-repeat;
    /* 이미지 반복없이 1개만 나온다. */
    background-color: #000200;
    /* 백그라운드 이미지를 제외한 나머지 공간을 채운 색상. */
    background-attachment: fixed;
}

@media (max-width: 1440px) {
    #tranding {
        padding: 7rem 0;
    }
}

#tranding .tranding-slider {
    height: 40rem;
    padding: 2rem 0;
    position: relative;
}

@media (max-width: 600px) {
    #tranding .tranding-slider {
        height: 50rem;
    }
}

.tranding-slide {
    width: 21rem;
    height: 29.7rem;
    position: relative;
}

@media (max-width: 600px) {
    .tranding-slide {
        width: 28rem !important;
        height: 36rem !important;
    }

    .tranding-slide .tranding-slide-img img {
        width: 28rem !important;
        height: 36rem !important;
    }
}

.tranding-slide .tranding-slide-img img {
    width: 21rem;
    height: 29.7rem;
    border-radius: 1rem;
    object-fit: cover;
}

.tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.tranding-slide-content .food-price {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
}

.food-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

.rating ion-icon {
    color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.tranding-slider-control {
    position: relative;
    bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .tranding-slider-control {
        bottom: 4rem;
        align-items: center;
        align-content: center;
        text-align: center;

    }
}

@media (max-width: 600px) {
    .tranding-slider-control {
        bottom: 7rem;
    }
}

.tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 25%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    top: 2rem;
}

.tranding-slider-control .swiper-button-next {
    left: 75% !important;
    transform: translateX(-58%) !important;
}

/*@media (max-width: 1025px) {*/
/*    .tranding-slider-control .swiper-button-prev {*/
/*        left: 10% !important;*/
/*        transform: translateX(-30%) !important;*/
/*    }*/
/*}*/

/*@media (max-width: 1025px) {*/
/*    .tranding-slider-control .swiper-button-next {*/
/*        left: 90% !important;*/
/*        transform: translateX(-70%) !important;*/
/*    }*/
/*}*/

/*@media (max-width: 991px) {*/
/*    .tranding-slider-control .swiper-button-prev {*/
/*        left: 10% !important;*/
/*        transform: translateX(-30%) !important;*/
/*    }*/
/*}*/

/*@media (max-width: 991px) {*/
/*    .tranding-slider-control .swiper-button-next {*/
/*        left: 82% !important;*/
/*        transform: translateX(-70%) !important;*/
/*    }*/
/*}*/

@media (max-width: 768px) {
    .tranding-slider-control .swiper-button-prev {
        left: 8% !important;
        transform: translateX(-20%) !important;
    }
}

@media (max-width: 768px) {
    .tranding-slider-control .swiper-button-next {
        left: 92% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width: 600px) {
    .tranding-slider-control .swiper-button-prev {
        left: 10% !important;
        transform: translateX(-20%) !important;
    }
}

@media (max-width: 600px) {
    .tranding-slider-control .swiper-button-next {
        left: 90% !important;
        transform: translateX(-80%) !important;
    }
}

.tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
}

.tranding-slider-control .slider-arrow::after {
    content: '';
}

.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 45rem;
    top: 1rem;
}

@media (max-width: 768px) {
    .tranding-slider-control .swiper-pagination {
        position: relative;
        width: 20rem;
        top: 0.1rem;
    }
}

@media (max-width: 600px) {
    .tranding-slider-control .swiper-pagination {
        position: relative;
        width: 20rem;
        top: 0.1rem;
    }
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    margin: 6px;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--primary);
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--skycoral);
}

.swiper-slide {
    filter: blur(4px);
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-slide img {
    display: block;
    width: 100%;
    /*-webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #000600);*/
}

/*@media (min-width: 992px)*/
/*.navbar-expand-lg {*/
/*    flex-wrap: nowrap!important;*/
/*    justify-content: flex-start;*/
/*}*/
