/*기존 스타일을 유지*/
/* 댓글을 옆으로 나오게 하는 스타일 추가 */
.comments-container {
    display: flex;
    flex-direction: row; /* 가로 방향으로 나열 */
    overflow-x: auto; /* 가로 스크롤이 필요한 경우 스크롤을 추가 */
}

.comment {
    width: 300px; /* 각 댓글의 폭을 조절하세요 */
    margin-right: 10px; /* 각 댓글 사이에 간격을 두세요 */
}

a.btn, #btn_comment {
    border: solid 1px var(--skycoral);
    color: var(--skycoral);
    font-size: 1.5rem;
    width: 77px;
}

a.btn:hover, #btn_comment:hover {
    border: solid 1px var(--skycoral);
    color: var(--white);
    background-color: var(--skycoral);
}

#btnDel {
    border: solid 1px red;
    color: var(--white);
    background-color: red;
    font-size: 1.5rem;
    width: 77px;
}

#btnDel:hover {
    border: solid 1px var(--skycoral);
    color: var(--skycoral);
    background-color: var(--white);
}

.form-control {
    font-size: 2rem !important;
}
