* {
    padding: 0;
    margin: 0;
}

.title-layout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 170px;
    font-size: 2em;
    padding-top: 30px;
}

.table {
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.form-control {
    border-radius: 20px;
    width: 300px;
    margin-left: 20px;
    margin-right: 60px;
}
