* {
    padding: 0;
    margin: 0;
}

.title-layout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 170px;
    font-size: 2em;
    padding-top: 30px;
}

.table {
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.form-control {
    border-radius: 20px;
    width: 300px;
    margin-left: 20px;
    margin-right: 60px;
}

/* 선택 사항: 커서를 호버시 변경하기 위한 CSS 스타일 추가 */
tr:hover {
    cursor: pointer;
    background-color: #f5f5f5; /* 필요시 호버시 배경색 변경 */
}