.btn-pink {
    color: #fff; /* 텍스트 색상을 흰색으로 설정 */
    background-color: #e83e8c; /* 배경 색상을 분홍색으로 설정 */
    border-color: #e83e8c; /* 테두리 색상을 분홍색으로 설정 */

}

.btn-pink:hover {
    color: #fff;
    background-color: black; /* 마우스를 가져갈 때 색상 변경 */
    border-color: #d3386a;
}