#content {
    background-color: #f0f0f0; /* 배경색을 회색으로 변경 */
    border: 10px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 모서리를 둥글게 만듦 */
    padding: 10px; /* 내부 여백 추가 */

    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    height: 70px;
}

.my-3 {
    display: flex;
    justify-content: center;
}

